body {
  font-family: "Helvetica Neue", "Helvetica", "sans-serif",
    "Noto Sans CJK SC Regular", "AR PL UMing CN", "Hiragino Sans GB", "STHeiti",
    "Microsoft Yahei", "SimHei" !important;
  background: #e6edf4;
}

.sticky div {
  z-index: 1;
}
.sticky {
  min-height: 3em;
  text-align: center;
}
.editor {
  background: white;
}
.chinese.active {
  text-shadow: 0 0 10px green !important;
}
.chinese.recent {
  text-shadow: 0 0 5px cyan;
}
.chinese.expired {
  text-shadow: 0 0 5px coral;
}
.studying .chinese:not(.active):not(.recent):not(.expired):not(.known) {
  border-bottom: 2px solid red;
}
div.studying {
  margin-bottom: 20em;
}
.chinese:hover {
  /*background-color: lightblue;*/
  /*border-bottom: 2px solid green;*/
  /*margin-left: 5px;*/
  /*margin-right: 5px;*/
  /*padding-left: 5px;*/
  /*padding-right: 5px;*/
}
.chinese:nth-child(odd) {
  /*background-color: lightblue;*/
  /*border-bottom: 2px solid green;*/
}
.chinese:nth-child(even) {
  /*background-color: lightblue;*/
  /*border-top: 2px solid green;*/
}
.editor {
  background: #fff;
  border-radius: 0.3em;
  border: 1px solid black;
}
.public-DraftEditorPlaceholder-inner {
  position: absolute;
  color: #aaaaaa;
}

.public-DraftEditor-content {
  font-size: 200%;
  line-height: 1.4285em;
  overflow: hidden;
}
.toolbar .buttons {
  background: white;
}
.toolbar .button {
  width: 2em !important;
  height: 2em !important;
  padding: 0px !important;
}
.comment .author {
  display: inline-block;
}

.ui.floating.label {
  opacity: 0.8;
}

/* Cloze input */
.blocks ::-webkit-input-placeholder {
  text-align: center;
}
.blocks :-moz-input-placeholder {
  text-align: center;
}
.blocks ::-moz-input-placeholder {
  text-align: center;
}
.blocks :-ms-input-placeholder {
  text-align: center;
}
.blocks ::placeholder {
  text-align: center;
}
.blocks ul {
  display: inline;
  list-style: none;
  padding: 0px;
  padding-left: 3px;
  padding-right: 3px;
}
.blocks ul li {
  display: inline;
}
.blocks li + li:before {
  content: ",";
}

.deck-item .column {
  padding: 0px !important;
}
.deck-item .row {
  padding: 0px !important;
}
.deck-item .segment {
  width: 115px;
  height: 115px;
  border: 1px solid cornflowerblue;
}
.deck-item .content {
  padding: 0px !important;
}
.deck-item .content .header {
  padding-left: 1.5em;
  border-bottom: 2px solid cornflowerblue;
  width: 100%;
}
.deck-item .content .meta {
  padding-left: 1.5em;
}
.deck-item .content .extra {
  padding-left: 1.5em !important;
}

.block-container {
  line-height: 1.5em;
}
.block-container div div:nth-child(1) {
  color: grey;
  padding-left: 2px;
  padding-right: 2px;
  font-size: medium;
}
.block-container div div:nth-child(2) {
  font-size: x-large;
  line-height: 1.5em;
}
.block-container div div:nth-child(2) input {
  line-height: 1.5em;
}

a.column:hover {
  cursor: pointer;
  background: lightblue;
}

.sign-in-up {
  padding-top: 1em;
}
.sign-in-up p {
  margin-top: 1em;
}

.hidden {
  border: 1px dashed blue;
}
.hidden:not(:hover) {
  color: transparent;
  border: 1px dashed blue;
}

.decks-end {
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: center;
}
