.footer {
  background-color: #333;
  color: #666;
  margin-top: 30px;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 4em;
  padding-right: 4em;
}
.footer h4 {
  color: #999;
  border-bottom: 1px solid #666;
}
