body {
  background: #333;
}
.chinese {
  border-bottom: 2px solid green;
  margin-left: 5px;
  margin-right: 5px;
}
.chinese:nth-child(odd) {
  background-color: lightblue;
}

.DraftEditor-root {
  background: #fff;
  border-radius: 0.3em;
  padding: 1em;
}
.public-DraftEditorPlaceholder-inner {
  position: absolute;
  color: #aaaaaa;
}

.App {
  /*text-align: center;*/
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
